@use '../../styles/mixins'as *;

.dark-mode-button-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
}

.dark-mode-button {
    width: 15px;
    height: 15px;
    background-color: #232326 !important;
    cursor: pointer;
    z-index: 3;
}

.dark-mode-icon {
    color: white;
}